@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.header-element {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}
.h-container {
  display: flex;
  padding: 24px 32px;
  align-items: center;
  justify-content: space-between;
}
.ul-element {
  display: flex;
  column-gap: 24px;
}
.nav-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1px;
  font-size: 16px;
  color: #000;
}
.action-b {
  width: 100px;
  height: 48px;
  border-radius: 32px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-size: 16px;
  color: #f3f3f3;
}
.burger-menu {
  display: none;
}
.sec-1 {
  max-width: 1110px;
  width: 90%;
  height: 556px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 130px;
}
.left-side {
  width: 490px;
}
.left-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 60px;
  font-size: 56px;
  color: #000;
  margin-bottom: 24px;
}
.left-par {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  font-size: 18px;
  color: #000;
  margin-bottom: 40px;
}
.action-div {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.action-2b {
  width: 100px;
  height: 48px;
  border-radius: 32px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-div-txt {
  width: 236px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
  color: #000;
}
.right-side {
  width: 490px;
}
.right-side-img {
  width: 100%;
}
.sec-2 {
  width: 100%;
  height: 244.2px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  max-width: 1140px;
  width: 90%;
  display: flex;
  column-gap: 30px;
}
.box-card {
  width: 360px;
}
.div-ell {
  display: flex;
  column-gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.ellipse {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: transparent;
}
.ellipse-txt {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  font-size: 18px;
  color: #000;
}
.card-txt {
  width: 336px;
  width: 90%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  color: #000;
  text-align: justify;
}
.sec-3 {
  width: 100%;
  height: 620px;
  background-color: #000;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.container-1 {
  max-width: 1140px;
  width: 90%;
  display: flex;
  column-gap: 133px;
}
.left-side-img {
  width: 100%;
}
.right-side-txt {
  width: 503.5px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
}
.sec-3-txt {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  line-height: 32px;
  letter-spacing: -0.1px;
  font-size: 24px;
  color: #fff;
}
.sec-3-par {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-size: 16px;
  color: #fff;
}
.sec-3-li {
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-size: 16px;
  color: #fff;
}
.sec-4 {
  position: relative;
}
.cover-pic {
  background-image: url(../images/img1440px+.png);
  width: 100%;
  height: 564px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-box {
  width: 540px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headline {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-size: 16px;
  color: #fff;
}
.descr {
  max-width: 744px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-size: 40px;
  color: #fff;
}
.action-white {
  width: 84px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-text-wh {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-size: 16px;
  color: #000;
}
.footer-element {
  background-color: #000;
  width: 100%;
  height: 336px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container {
  max-width: 1140px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.box-block {
  max-width: 842.4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-logo,
.footer-box1,
.footer-box2,
.footer-box3,
.footer-box4 {
  max-width: 210.6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-txt {
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-size: 16px;
  color: #fff;
}
.footer-li {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  margin-top: 8px;
}
.footer-par {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  margin-top: 8px;
  opacity: 40%;
}
/* responsive */

@media (max-width: 1024px) {
  .sec-1 {
    flex-direction: column;
    height: 100%;
  }
  .left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .left-text {
    margin-bottom: 24px;
    width: 630px;
  }
  .left-par {
    margin-bottom: 20px;
    width: 630px;
  }
  .left-div-txt {
    width: 100%;
  }
  .right-side {
    margin-top: 68px;
    margin-bottom: 20px;
    width: 100%;
  }
  .sec-2 {
    height: 254px;
  }
  .card-container {
    column-gap: 61px;
  }
  .box-card {
    width: 279.33px;
  }
  .cover-pic {
    background-image: url(../images/img1024px.png);
  }
  .text-box {
    row-gap: 32px;
  }
  .footer-box4 {
    display: none;
  }
  .footer-element {
    flex-direction: column;
  }
  .footer-container {
    flex-direction: column;
    row-gap: 48px;
  }
}
@media (max-width: 744px) {
  .left-text {
    font-size: 40px;
    line-height: 48.5px;
  }
  .action-div {
    flex-direction: column;
    row-gap: 16px;
  }
  .action-2b {
    width: 90px;
    height: 40px;
  }
  .left-div-txt {
    line-height: 28px;
  }
  .right-side {
    margin-top: 24px;
    margin-bottom: 0;
  }
  .sec-2 {
    height: 414px;
  }
  .card-container {
    flex-direction: column;
  }
  .box-card {
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card-txt {
    max-width: 744px;
    text-align: center;
  }
  .cover-pic {
    background-image: url(../images/img744px.png);
  }
  .text-box {
    max-width: 744px;
    width: 100%;
    row-gap: 12px;
  }
  .descr {
    width: 90%;
  }
  .footer-box1,
  .footer-box2,
  .footer-box3,
  .footer-box4 {
    width: 155.67px;
  }
  .footer-container {
    row-gap: 20px;
  }
}
@media (max-width: 640px) {
  .nav-element,
  .action-b {
    display: none;
  }
  .burger-menu {
    background-color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: center;
    justify-content: center;
  }
  .menu-line {
    background-color: #fff;
    width: 15px;
    height: 2px;
    color: transparent;
  }
  .left-text,
  .left-par,
  .left-div-txt {
    width: 327px;
  }
  .sec-2 {
    height: 510px;
  }
  .box-card {
    height: 170px;
  }
  .card-txt {
    width: 327px;
    letter-spacing: 0.1px;
  }
  .cover-pic {
    background-image: url(../images/img375px.png);
  }
  .descr {
    width: 247px;
    font-size: 28px;
  }
  .footer-container {
    align-items: center;
  }
  .footer-logo {
    width: 101px;
  }
  .footer-box1,
  .footer-box2,
  .footer-box3,
  .footer-box4 {
    width: 98.33px;
    text-align: center;
  }
  .box-block {
    justify-content: center;
    column-gap: 10px;
  }
}
